*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    list-style: none;
}

:root {
    --white: #fff;
    --warna1: #2A2F4F;
    --warnaLinear1: #0C134A;
    --warnaLinear2: var(--white);
    --warnanPeople: #9C97EE;
    --warnaGirls: #FF5CA6;
    --warnaBoys: #4361EE;
    --warnaBGAct: #C0CFFA;
}

#demo {
    width: 100%;
    height: 100%;
}

#demo .maps {
    width: 100%;
    height: 100%;
    color: #fff;
}

#demo .maps .title {
    width: 100%;
    height: 100%;
    background-color: var(--warna1);
    padding: 25px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
}

#demo .maps .title h1 {
    font-size: 60px;
    font-weight: 700;
}

#demo .maps .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    background-color: var(--white);
    padding: 80px;
}

#demo .maps .wrap .left {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
}

#demo .maps .wrap .left .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 20px;
    padding: 50px;
    background-color: var(--warnanPeople);
    color: var(--warnaLinear1);
}

#demo .maps .wrap .left .people h1 {
    font-size: 120px;
    font-weight: 800;
}

#demo .maps .wrap .left .people span {
    font-size: 70px;
    font-weight: 500;
}

#demo .maps .wrap .right2 {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#demo .maps .wrap .right2 .girls {
    background-color: var(--warnaGirls);
    padding: 20px;
    display: flex;
    font-size: 32px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#demo .maps .wrap .right2 .boys {
    background-color: var(--warnaBoys);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#demo .maps .wrap .right {
    width: 100%;
    height: 100%;
}


/* ACTIVITIES */
#activity {
    width: 100%;
    height: 100%;
}

#activity .activities {
    width: 100%;
    height: 100%;

}

#activity .activities .title {
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 100;
    background-image: url(../img/designAssets/colorfull-1689.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#activity .activities .title h1 {
    font-size: 60px;
    color: var(--white);
    font-weight: 700;
    z-index: 40;
}


swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activity .activities .swiper {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    background: linear-gradient(180deg, var(--warnaBoys), var(--warna1));
}

#activity .activities .swiper .mySwiper {
    width: 100%;
    height: 100%;
}

#activity swiper-slide {
    background: none;
}

#activity .activities .swiper .mySwiper .wrapper {
    background: var(--white);
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    background: transparent;
    padding: 0px;
    margin: 0;
}

#activity .activities .swiper .mySwiper .wrapper .img {
    display: flex;
    justify-content: center;
    padding: 60px;
    margin: 40px 0;
}

#activity .activities .swiper .mySwiper .wrapper .img img {
    border-radius: 40px;
    width: 80%;
}

.swiper-pagination-progressbar {
    display: none;
}


@media screen and (max-width: 1300px) {
    #demo .maps .title h1 {
        font-size: 50px;
        font-weight: 700;
    }

    #demo .maps .wrap .left .people {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* height: 100%; */
        justify-content: center;
        border-radius: 20px;
        padding: 60px;
        background-color: var(--warnanPeople);
        color: var(--warnaLinear1);
    }

    #demo .maps .wrap .left .people h1 {
        font-size: 80px;
        font-weight: 800;
    }

    #demo .maps .wrap .left .people span {
        font-size: 60px;
        font-weight: 500;
    }

    #demo .maps .wrap .right2 {
        display: flex;
        gap: 1rem;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    #demo .maps .wrap .right {
        width: 100%;
        height: 100%;
    }

    #demo .maps .wrap .right img {
        width: 100%;
        /* height: 100%; */
    }
}



@media screen and (max-width: 1145px) {
    #demo .maps .wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        background-color: var(--white);
        padding: 50px;
    }
}

@media screen and (max-width: 992px) {
    #demo .maps .title h1 {
        font-size: 42px;
        font-weight: 700;
    }

    #demo .maps .wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        background-color: var(--white);
        padding: 40px;
    }

    #demo .maps .wrap .left .people {
        width: 80%;
        height: 80%;
    }

    #demo .maps .wrap .left .people h1 {
        font-size: 60px;
        font-weight: 800;
    }

    #demo .maps .wrap .left .people span {
        font-size: 50px;
        font-weight: 500;
    }

    #demo .maps .wrap .right2 .girls {
        font-size: 28px;
    }

    #demo .maps .wrap .right2 .boys {
        font-size: 28px;
    }



    /* ACTIVITIES */
    #activity .activities .title {
        padding: 20px;
        z-index: 10;
    }

    #activity .activities .title h1 {
        font-size: 40px;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #activity .activities .swiper {
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    #activity .activities .swiper .mySwiper {
        width: 100%;
        height: 100%;
    }

    #activity swiper-slide {
        background: none;
    }

    #activity .activities .swiper .mySwiper .wrapper {
        background: var(--white);
        width: 100%;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        background: transparent;
        padding: 0px;
        margin: 0;
    }

    #activity .activities .swiper .mySwiper .wrapper .img {
        display: flex;
        justify-content: center;
        padding: 30px;
        margin: 40px 0;
    }

    #activity .activities .swiper .mySwiper .wrapper .img img {
        border-radius: 20px;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        display: none;
    }

    #demo .maps .title h1 {
        font-size: 28px;
        font-weight: 700;
    }

    #demo .maps .wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        background-color: var(--white);
        padding: 20px;
    }

    #activity .activities .title {
        background-image: url(../img/designAssets/colorfull-1689.jpg);
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    #demo .maps .wrap .left .people {
        width: 50%;
        /* height: 20%; */
    }

    #demo .maps .wrap .left .people h1 {
        font-size: 40px;
        font-weight: 800;
    }

    #demo .maps .wrap .left .people span {
        font-size: 36px;
        font-weight: 500;
    }

    #demo .maps .wrap .right2 .girls {
        font-size: 18px;
    }

    #demo .maps .wrap .right2 .boys {
        font-size: 18px;
    }



    /* ACTIVITIES */
    #activity .activities .title {
        padding: 20px;
        z-index: 10;
    }

    #activity .activities .title h1 {
        font-size: 32px;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #activity .activities .swiper {
        width: 100%;
        height: 100%;
        padding: 0 0px;
    }

    #activity .activities .swiper .mySwiper {
        width: 100%;
        height: 100%;
    }

    #activity swiper-slide {
        background: none;
    }

    #activity .activities .swiper .mySwiper .wrapper {
        background: var(--white);
        width: 100%;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        background: transparent;
        padding: 0px;
        margin: 0;
    }

    #activity .activities .swiper .mySwiper .wrapper .img {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 40px 0;
    }

    #activity .activities .swiper .mySwiper .wrapper .img img {
        border-radius: 20px;
        width: 90%;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }
}